*, *::before, *::after {
  box-sizing: border-box;
}

.custom-accordion-section {
  padding: 30px 0 40px;

  @media (min-width: 768px) {
    & {
      padding: 40px 0 60px;
    }
  }

  @media (min-width: 1024px) {
    & {
      padding: 44px 0 180px;
    }
  }

  h2 {
    @media (min-width: 1024px) {
      & {
        margin: 0 0 58px;
      }
    }
  }

  .team-slide {
    h2 {
      margin: 0 0 20px;
    }
  }
}

.team-list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: 768px) {
    & {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
    }
  }

  > li {
    padding: 0;

    @media (min-width: 768px) {
      & {
        width: calc(50% - 10px);
      }
    }

    @media (min-width: 1024px) {
      & {
        width: calc(100% / 3 - 14px);
      }
    }

    &.slide-active {
      > a {
        img {
          scale: 1.1;
        }

        .text-overlay {
          &::before {
            opacity: 0;
          }

          &::after {
            opacity: 1;
          }

          .plus-icon {
            background: red;

            .plus {
              translate: -50% -50%;
              rotate: 45deg;
            }
          }
        }
      }
    }

    &::before {
      display: none;
    }

    > a {
      display: block;
      overflow: hidden;
      position: relative;
      padding-top: 90%;
      z-index: 1;
      background: #ccc;

      &:hover {
        img {
          scale: 1.1;
        }

        .text-overlay {
          &::before {
            opacity: 0;
          }

          &::after {
            opacity: 1;
          }

          .plus-icon {
            background: red;
          }
        }
      }

      * {
        pointer-events: none;
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        max-width: none;
        object-fit: cover;
        z-index: -1;
        transition: transform 0.3s linear;
      }

      .text-overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
        color: white;
        padding: 21px 60px 22px 19px;

        &::before,
        &::after {
          content:"";
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          z-index: -1;
          transition: opacity 0.3s linear;
        }

        &::before {
          background: linear-gradient(to right, black 0%, rgba(0, 0, 0, 0.4) 100%);
        }

        &::after {
          background: linear-gradient(to right, black 0%, rgba(0, 0, 0,0.8) 100%);
          opacity: 0;
        }

        .name {
          display: block;
          color: white;
          margin: 0 0 8px;
          font-weight: 700;
          font-size: 20px;
          line-height: 1.244;

          @media (min-width: 768px) {
            & {
              font-size: 22px;
            }
          }

          @media (min-width: 1024px) {
            & {
              font-size: 25px;
            }
          }
        }

        .designation {
          display: block;
          color: blue;
          font-style: italic;
          font-size: 15px;
          line-height: 1.467;
        }

        .plus-icon {
          width: 26px;
          height: 26px;
          border: 1px solid red;
          position: absolute;
          bottom: 21px;
          right: 21px;
          background: transparent;
          transition: background 0.3s linear;
          z-index: 2;

          .plus {
            width: 10px;
            height: 10px;
            position: absolute;
            top: 50%;
            left: 50%;
            translate: -50% -50%;
            transition: transform 0.3s linear;

            &::before,
            &::after {
              content:"";
              width: 2px;
              height: 10px;
              background: white;
              position: absolute;
              top: 50%;
              left: 50%;
              translate: -50% -50%;
            }

            &::after {
              width: 10px;
              height: 2px;
            }
          }
        }
      }
    }
  }
}

.team-slide {
  display: none;
  width: 100%;

  @media (min-width: 768px) {
    & {
      padding: 0 10px;
    }
  }

  .slide-content {
    background: white;
    padding: 50px 20px;

    @media (min-width: 768px) {
      & {
        padding: 60px 50px;
      }
    }

    @media (min-width: 1024px) {
      & {
        padding: 70px 60px;
      }
    }

    @media (min-width: 1200px) {
      & {
        padding: 71px 179px 83px 99px;
      }
    }
  }

  h2 {
    margin: 0 0 20px;
  }

  blockquote {
    max-width: 802px;
  }

  .link-holder {
    padding: 7px 0 0;
  }
}

.custom-slide-holder {
  width: 100%;
  overflow: hidden;

  .team-slide {
    display: block;
  }
}
